xml-resources/web-service-references/WSBDpelon/wsdl/localhost_8080/webServicesPelon/WSBDpelon.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pkgWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pkgWS/" name="WSBDpelon">
<types>
<xsd:schema>
<xsd:import namespace="http://pkgWS/" schemaLocation="http://localhost:8080/webServicesPelon/WSBDpelon?xsd=1"/>
</xsd:schema>
</types>
<message name="Alta">
<part name="parameters" element="tns:Alta"/>
</message>
<message name="AltaResponse">
<part name="parameters" element="tns:AltaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="editar">
<part name="parameters" element="tns:editar"/>
</message>
<message name="editarResponse">
<part name="parameters" element="tns:editarResponse"/>
</message>
<portType name="WSBDpelon">
<operation name="Alta">
<input wsam:Action="http://pkgWS/WSBDpelon/AltaRequest" message="tns:Alta"/>
<output wsam:Action="http://pkgWS/WSBDpelon/AltaResponse" message="tns:AltaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://pkgWS/WSBDpelon/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pkgWS/WSBDpelon/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="editar">
<input wsam:Action="http://pkgWS/WSBDpelon/editarRequest" message="tns:editar"/>
<output wsam:Action="http://pkgWS/WSBDpelon/editarResponse" message="tns:editarResponse"/>
</operation>
</portType>
<binding name="WSBDpelonPortBinding" type="tns:WSBDpelon">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Alta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSBDpelon">
<port name="WSBDpelonPort" binding="tns:WSBDpelonPortBinding">
<soap:address location="http://localhost:8080/webServicesPelon/WSBDpelon"/>
</port>
</service>
</definitions>